:root {
  --colorPrimaire: #9356dc;
  --colorSecondaire: #ff79da;
  --colorTertiaire: #99e2d0;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 0 rgb(0 0 0 / 20%);
  z-index: 1;
  opacity: 90%;
  img {
    height: 30%;
    width: 30%;
    margin: 1rem;
  }
}

body {
  font-family: "Roboto";
  margin: 0%;
}

header {
  text-align: center;
}

.Loader {
  background-image: linear-gradient(#ff79da, #9356dc);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: wait;
  position: fixed;
  z-index: 5;
  animation: 1s 5s 1 both disparait;
}
.MyLoader {
  width: 25%;
  height: 25%;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 37%;

  h1 {
    text-align: center;
    color: white;
    font-family: "Shrikhand";
    font-weight: normal;
    margin: 0rem -3rem;
  }
}
.Chargement {
  display: block;
  position: relative;
  height: 25%;
  width: 100%;
  background: #fff;
  border: 2px solid #fff;
  color: var(--colorTertiaire);
  overflow: hidden;
}
.Chargement::before {
  content: "";
  background: var(--colorTertiaire);
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  animation: loading 5s linear;
}
.Chargement:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
  color: white;
  font-family: "Shrikhand";
  mix-blend-mode: difference;
  animation: percentage 5s linear;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes percentage {
  0% {
    content: "0%";
  }
  5% {
    content: "5%";
  }
  10% {
    content: "10%";
  }
  20% {
    content: "20%";
  }
  30% {
    content: "30%";
  }
  40% {
    content: "40%";
  }
  50% {
    content: "50%";
  }
  60% {
    content: "60%";
  }
  70% {
    content: "70%";
  }
  80% {
    content: "80%";
  }
  90% {
    content: "90%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
  100% {
    content: "100%";
  }
}
@keyframes disparait {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.15;
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.location {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(236, 234, 234, 0.397);
  margin: 0;
}

.location {
  .fa-map-marker-alt {
    padding: 10px 5px;
  }
  input {
    background-color: transparent;
    border: none;
    text-align: center;
    width: 7rem;
    font-size: medium;
  }
}

.Slight {
  text-align: center;
  margin: 5%;
  H1 {
    margin: 2%;
  }
  p {
    margin: 0%;
    color: gray;
  }
  button {
    background-image: linear-gradient(#f72bbd, #8730f3);
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 4% 5% 4% 5%;
    margin: 1rem;
    border: none;
    box-shadow: 10px 10px 10px gray;
  }
  button:hover {
    box-shadow: 8px 8px 8px rgb(59, 59, 59);
    background-image: linear-gradient(#ff79da, #9653e7);
  }
}

.Functioning {
  margin: 2rem;
  p {
    border-radius: 50%;
    background-color: #9356dc;
    color: white;
    position: relative;
    right: 28px;
    padding: 4px 8px;
  }
  .title_Functioning {
    margin: 0;
    font-size: medium;
    padding: 10px 0px 0px 0px;
  }
  li {
    display: flex;
    background-color: #f6f6f6;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 4px 4px 2px lightgrey;
    border-radius: 20px 20px;
    text-align: center;
    height: 58px;
    transition: transform 0.1s;
  }
  i {
    padding: 13px;
    color: grey;
  }
}
.Functioning li:hover {
  background-color: rgb(214, 170, 255);
  transform: scale(1.05);
}
.Functioning i:hover {
  color: #9356dc;
}

.Restaurant {
  height: 100%;
  background-color: rgba(210, 210, 210, 0.33);
  h2 {
    padding: 1rem 0 0 1rem;
  }
  article {
    margin: 1rem;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 5px 5px 0px rgb(220 220 220);
    position: relative;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .News {
    position: absolute;
    background-color: #99e2d0;
    right: 1rem;
    top: 1rem;
    padding: 5px;
    color: green;
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  }
  img {
    height: 13rem;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
  }
  .icons {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
  }
  .ActionIcone {
    position: relative;
    margin: 5px 1rem 0rem 0rem;
  }
  .heartOne,
  .heartTwo {
    position: absolute;
    right: 0;
    transition: 0.5s;
  }
  .heartOne {
    color: black;
  }
  .heartTwo {
    opacity: 0;
    background: linear-gradient(25deg, #ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .ActionIcone:hover .heartOne {
    opacity: 0;
  }
  .ActionIcone:hover .heartTwo {
    opacity: 1;
  }

  h3 {
    margin: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  p {
    margin: 1rem;
    padding: 0 0 1rem 0;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: lighter;
    color: grey;  
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.789);
  color: white;
  padding: 2rem;

  h2 {
    font-family: "Shrikhand";
    font-weight: normal;
  }

  ul {
    list-style: none;
    padding: 0rem;
  }
  li {
    margin: 5px 0px;
  }
  a {
    text-decoration: none;
    color: white;
  }
}

/*Responsive ordinateur*/
@media screen and (min-width: 1000px) {
  header {
    img {
      width: 15%;
    }
  }

  .Slight {
    margin: 5%;
    display: flex;
    justify-content: space-evenly;
    button {
      padding: 1% 15% 1% 15%;
    }
  }

  .Functioning nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .Functioning .title_Functioning {
    padding: 1.4rem 1rem;
  }

  .Carte {
    display: flex;
    flex-wrap: wrap;
    article {
      width: 21%;
    }
  }
}

/*Responsive Tablette*/
@media screen and (min-width: 700px) {
  header {
    img {
      width: 15%;
    }
  }

  .Slight H1 {
    padding: 1rem;
  }

  .Functioning ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .Functioning .title_Functioning {
    padding: 1rem;
  }
  .Functioning i {
    padding: 1rem 0rem;
  }

  .Carte {
    display: flex;
    flex-wrap: wrap;
  }
  article {
    width: 45%;
  }
}
