:root {
  --colorPrimaire: #9356dc;
  --colorSecondaire: #ff79da;
  --colorTertiaire: #99e2d0;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 90%;
}
header img {
  height: 30%;
  width: 30%;
  margin: 1rem;
}

body {
  font-family: "Roboto";
  margin: 0%;
}

header {
  text-align: center;
}

.location {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(236, 234, 234, 0.397);
  margin: 0;
}

.location .fa-map-marker-alt {
  padding: 1rem 0rem;
}
.location input {
  background-color: transparent;
  border: none;
  text-align: center;
  width: 7rem;
}

.Slight {
  text-align: center;
  margin: 5%;
}
.Slight H1 {
  margin: 0%;
}
.Slight p {
  margin: 0%;
  color: gray;
}
.Slight button {
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: large;
  cursor: pointer;
  border-radius: 2rem 2rem 2rem 2rem;
  padding: 2% 30% 2% 30%;
  margin: 1rem;
  border: none;
}

.Functioning {
  margin: 2rem;
}
.Functioning p {
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
  position: relative;
  right: 28px;
  padding: 4px 8px;
}
.Functioning .title_Functioning {
  margin: 0;
  font-size: medium;
  padding: 10px 0px 0px 0px;
}
.Functioning li {
  display: flex;
  background-color: #f6f6f6;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 4px 4px 2px lightgrey;
  border-radius: 20px 20px;
  text-align: center;
  height: 58px;
}
.Functioning i {
  padding: 22px;
  color: grey;
}

.Restaurant {
  height: 100%;
  background-color: rgba(210, 210, 210, 0.33);
}
.Restaurant h2 {
  padding: 1rem 0 0 1rem;
}
.Restaurant article {
  margin: 1rem;
  background-color: white;
  border-radius: 30px 30px 30px 30px;
}
.Restaurant article a {
  text-decoration: none;
  color: black;
}
.Restaurant article img {
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 2rem 2rem 0 0;
}
.Restaurant article .icons {
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
}
.Restaurant article .ActionIcone {
  position: relative;
  margin: 5px 1rem 0rem 0rem;
}
.Restaurant article .heartOne,
.Restaurant article .heartTwo {
  position: absolute;
  right: 0;
  transition: 0.5s;
}
.Restaurant article .heartOne {
  color: black;
}
.Restaurant article .heartTwo {
  opacity: 0;
  background: linear-gradient(70deg, blue, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Restaurant article .ActionIcone:hover .heartOne {
  opacity: 0;
}
.Restaurant article .ActionIcone:hover .heartTwo {
  opacity: 1;
}
.Restaurant article h3 {
  margin: 1rem;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}
.Restaurant article p {
  margin: 1rem;
  padding: 0 0 1rem 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

footer {
  background-color: rgba(0, 0, 0, 0.789);
  color: white;
  padding: 2rem;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: normal;
}
footer nav {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=style.css.map */