:root {
  --colorPrimaire: #9356dc;
  --colorSecondaire: #ff79da;
  --colorTertiaire: #99e2d0;
}

header {
  position: sticky;
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  a {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
  }
  i {
    position: absolute;
    left: 2rem;
    top: 27%;
    color: #000;
    cursor: pointer;
  }
  img {
    height: 30%;
    width: 30%;
    margin: 1rem;
  }
}

body {
  font-family: "Roboto";
  margin: 0%;
}

header {
  text-align: center;
}


.cont {
  background-color: white;
  margin: 1rem;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  }

  h3 {
      padding-left: 1rem;
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }

  .plat {
      padding:10px;
      flex:1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }

  p {
      margin:0;
      padding-left: 1rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }

  .price {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 2rem;
      margin: 0%;
  }

  .check {
      background-color: var(--colorTertiaire);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0 15px 15px 0;
      width: 0px;
      overflow: hidden;
      transition: 2s;
  }

  .cont:hover .check {
      width: 100px
  }

  .cont:hover .check span {
      animation: 2s 5ms 1 both roue;
  }

  @keyframes roue {
      0% {
          transform: rotate(180deg);
      }

      100% {
          transform: rotate(0deg);
      }
  }
















  button {
    background-image: linear-gradient(#ff79da, #9356dc);
    color: white;
    font-size: large;
    cursor: pointer;
    border-radius: 2rem 2rem 2rem 2rem;
    padding: 1% 25% 1% 25%;
    margin: 2% 20%;
    border: none;
    box-shadow: rgba(149, 157, 165, 1.2) 0 0.6rem 1rem;
  }

section {
  img {
    height: 15rem;
    object-fit: cover;
    width: 100%;
  }
  article {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    background-color: #f6f6f6;
    position: relative;
  }
}
footer {
  background-color: rgba(0, 0, 0, 0.789);
  color: white;
  padding: 2rem;

  h2 {
    font-family: "Shrikhand";
    font-weight: normal;
  }

  nav {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
