:root {
  --colorPrimaire: #9356dc;
  --colorSecondaire: #ff79da;
  --colorTertiaire: #99e2d0;
}

/********************
****Partie Header****
*********************/
header {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}
header a {
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}
header i {
  position: absolute;
  left: 2rem;
  top: 27%;
  color: #000;
  cursor: pointer;
}
header img {
  height: 30%;
  width: 30%;
  margin: 1rem;
}

/***********
****Body****
***********/
body {
  font-family: "Roboto";
  margin: 0%;
}

main {
  background-color: #f6f6f6;
}
main img {
  max-width: 100%;
  max-height: 13rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/**********
***Titre***
***********/
section {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  padding: 1rem;
}
section div h1 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  font-weight: normal;
}
section div div .icons {
  display: flex;
  justify-content: flex-end;
  font-size: x-large;
}
section div div .ActionIcone {
  position: relative;
}
section div div .heartOne,
section div div .heartTwo {
  font-size: x-large;
  position: absolute;
  right: 1rem;
  top: -3.1rem;
  transition: 0.5s;
}
section div div .heartOne {
  color: black;
}
section div div .heartTwo {
  opacity: 0;
  background: linear-gradient(70deg, blue, pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section div div .ActionIcone:hover .heartOne {
  opacity: 0;
}
section div div .ActionIcone:hover .heartTwo {
  opacity: 1;
}

/*********************
****Vignette plats****
**********************/
h2 {
  font-size: large;
  margin: 2rem 0rem;
}

.Titre:after {
  content: "";
  background: var(--colorTertiaire);
  height: 4px;
  width: 40px;
  display: block;
  margin-top: 5px;
}

.cont {
  background-color: white;
  margin: 1rem 0rem;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}

h3 {
  padding-left: 5px;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.plat {
  padding: 1rem 0rem;
  flex: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

p {
  margin: 0;
  padding-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  margin: 0%;
}

.fa-check {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  color: var(--colorTertiaire);
}

.check {
  background-color: var(--colorTertiaire);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  width: 0px;
  overflow: hidden;
  transition: 2s;
}

.cont:hover .check {
  width: 100px;
}

.cont:hover .check span {
  -webkit-animation: 2s 5ms 1 both roue;
          animation: 2s 5ms 1 both roue;
}

@-webkit-keyframes roue {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes roue {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/********************
***Bouton Commande***
*********************/
button {
  background-image: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: large;
  cursor: pointer;
  border-radius: 2rem 2rem 2rem 2rem;
  padding: 1% 30%;
  margin: 10%;
  border: none;
  box-shadow: rgb(149, 157, 165) 0 0.6rem 1rem;
}

/******************
***Partie Footer***
******************/
footer {
  background-color: rgba(0, 0, 0, 0.789);
  color: white;
  padding: 2rem;
}
footer h2 {
  font-family: "Shrikhand";
  font-weight: normal;
}
footer nav {
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}/*# sourceMappingURL=Partie 2.css.map */